$bgColor: #fff;
$bgColorLight: #f5f7fa;
$white: #fff;
$lightGray: #999;
$darkGray: #9ca9b7;
$blue: #233ba3;
$liteBlue: #3483e3;
$liteGray: #a8b3bf;
$green: #50af56;
$primaryColor: #9FA8DA;
$pink: #e62a69;
$fuchsiaBlue: #724db9;
$butterflyBlue: #399ef1;
$darkGreen: #55b15b;
$orange: #fc6f4c;